{% extends 'base_cpanel.html' %} {% load static %} {% block content %}
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
</script>

<body>
    <div class="inner" style="min-height:1200px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Annotation Analysis</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-xs-6" style="text-align: center">
                <h4>Expert user annotation</h4>
            </div>
            <div class="col-xs-6" style="text-align: center">
                <div class="body collapse in">
                    <select name="auto" id="auto" onchange="get_user_annotation();" class="btn dropdown-toggle">
                        <option value="">-- select a user --</option>
                        {% for us in crowd_users %}
                        <option value="{{ us.id }}">{{ us.username }}</option>
                        {% endfor %}
                    </select>
                    <!-- <div class="btn-group">
                        <button data-toggle="dropdown" class="btn dropdown-toggle">Action
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Action</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">Separated link</a>
                            </li>
                        </ul>
                    </div> -->
                </div>
            </div>
        </div>
        <br/>
        <div class="row">
            <div id="divExpertImage" class="col-xs-6" style="text-align: center">
                <img src="{{ expert_annotated_image_url }}" alt="">
            </div>
            <div id="divPoweruserImage" class="col-xs-6" style="text-align: center">
                <img id="imgPoweruserImage" src="{{ expert_annotated_image_url }}" alt="">
            </div>
        </div>
        <hr />
    </div>
</body>> {% endblock %}