{% extends 'base_cpanel.html' %} {% load static %} {% block content %}
<link href="{% static 'css/layout/bootstrap.css' %}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/chart/Chart.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/chart/chartjs-plugin-annotation.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        get_geds();
        //draw_chart(ctx);
    });

    function draw_chart(ctx, data) {
        console.log('data: ', data);
        userNames = [];
        values = [];
        colors = [];
        $("#avg").text(data.avg);
        for (var i = 0; i < data.user_geds.length; i++) {
            userNames.push(data.user_geds[i].user__username);
            values.push(data.user_geds[i].ged);
            colors.push('#0000FF');
        }
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: userNames,
                datasets: [{
                    label: 'User Calculated GED',
                    data: values,
                    backgroundColor: colors,
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stacked: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Users'
                        }
                    }]
                },
                annotation: {
                    annotations: [{
                        type: 'line',
                        mode: 'vertical',
                        scaleID: 'x-axis-0',
                        value: data.avg,
                        borderColor: 'green',
                        borderWidth: 5,
                        label: {
                            enabled: true,
                            content: 'Average'
                        }
                    }]
                }
            }
        });
        myChart.update();
    }

    function get_geds() {
        $.ajax({
            type: 'POST',
            url: '{{ ajaxUrl }}/get_user_geds/',
            data: {
                'imageId': '{{imageId}}',
                'userGroup': $("#cmbUserGroups").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                jsonResponse = JSON.parse(data);
                var ctx = document.getElementById("chart").getContext("2d");
                draw_chart(ctx, jsonResponse);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
            }
        });
    }
</script>

<body>
    <div class="inner" style="min-height:1200px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Annotation Analysis</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div id="divImage" class="col-md-6" style="text-align: center;margin-bottom: 30px;">
                <img src="{{ image_url }}" alt="">
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="body collapse in">
                <select name="cmbUserGroups" id="cmbUserGroups" onchange="get_geds();" class="btn dropdown-toggle">
                    <option value="all">All</option>
                    <option value="TRAINED_POWER_USERS">Trained users</option>
                    <option value="UNTRAINED_POWER_USERS">Untrained users</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="text-align: center">
                <canvas id="chart" style="width:400px;height: 600px;"></canvas>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center">
                <h4 style="color:blue;">Average :</h4>
                <h4 id="avg" style="color:red;"></h4>
            </div>
        </div>
    </div>
</body> {% endblock %}