{% extends 'base_cpanel.html' %} {% load static %} {% block content %}
<link href="{% static 'css/layout/bootstrap.css' %}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript" src="{% static 'scripts/chart/Chart.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        get_geds();
        //draw_chart(ctx);
    });

    function draw_chart(ctx, data) {
        console.log('data: ', data);
        Images = [];
        values = [];
        colors = [];
        $("#avg").text(data.avg);
        for (var i = 0; i < data.images_geds.length; i++) {
            Images.push(data.images_geds[i].image__id);
            values.push(data.images_geds[i].avgGed);
            colors.push('#0000FF');
        }
        var myChart = new Chart(ctx, {
            type: 'horizontalBar',
            data: {
                labels: Images,
                datasets: [{
                    label: 'Average GED',
                    data: values,

                    backgroundColor: colors,

                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            stacked: true
                        },
                        yAxes: [{
                            stacked: true
                        }]
                    }]
                }
            }
        });
        myChart.update();
    }

    function get_geds() {
        $.ajax({
            type: 'POST',
            url: '{{ ajaxUrl }}/get_images_geds/',
            data: {
                'userGroup': $("#cmbUserGroups").val(),
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                jsonResponse = JSON.parse(data);
                var ctx = document.getElementById("chart").getContext("2d");
                draw_chart(ctx, jsonResponse);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
            }
        });
    }
</script>

<body>
    <div class="inner" style="min-height:1200px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Annotation Analysis</h2>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="body collapse in">
                <select name="cmbUserGroups" id="cmbUserGroups" onchange="get_geds();" class="btn dropdown-toggle">
                    <option value="all">All</option>
                    <option value="TRAINED_POWER_USERS">Trained users</option>
                    <option value="UNTRAINED_POWER_USERS">Untrained users</option>
                </select>
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="text-align: center">
                <canvas id="chart" style="width:400px;height: 600px;"></canvas>
            </div>
        </div>
        <div class="row">
            <div style="text-align: center">
                <h4 style="color:blue;">Average :</h4>
                <h4 id="avg" style="color:red;"></h4>
            </div>
        </div>
    </div>
</body> {% endblock %}