<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8" />
    <title>Blood Vessel Annotation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <link href="{% static 'css/layout/bootstrap.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/layout/cpanel-main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout/cpanel-theme.css' %}" />
    <link rel="stylesheet" href="{% static 'css/layout/MoneAdmin.css' %}" />
    <link href="{% static 'css/layout/cpanel-font-awesome.css' %}" rel="stylesheet" />

</head>

<body class="padTop53 ">

    <div id="wrap">

        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs"
                    data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header">

                    <a href="index.html" class="navbar-brand">
                        <img src="assets/img/logo.png" alt="" />
                    </a>
                </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right">
                    <li>
                        <a href="{% url 'home' %}" class="menu-top-active">Home</a>
                    </li>
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->

        <!-- MENU SECTION -->
        <div id="left">
            <div class="media user-media well-small">
                <br />
                <div class="media-body">
                    <h5 class="media-heading"> {{ request.user.username }}</h5>
                </div>
                <br />
            </div>

            <ul id="menu" class="collapse">
                <li class="panel">
                    {% if perms.auth.add_image %}
                    <a href="{% url 'images' %}">
                        <i class="icon-table"></i> Images
                    </a>
                    {% endif %}
                </li>
                <li class="panel">
                    {% if perms.auth.add_userged %}
                    <a href="{% url 'calculate_user_ged' %}">
                        <i class="icon-table"></i> calculate user GED
                    </a>
                    {% endif %}
                </li>
                <li class="panel">
                    {% if request.user.username == 'miladn' %}
                    <a href="{% url 'user_directory_delete' %}">
                        <i class="icon-table"></i> delete directory
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href="{% url 'logout' %}">
                        <i class="icon-signin"></i> Log out </a>
                </li>

            </ul>

        </div>
        <!--END MENU SECTION -->

        <!--PAGE CONTENT -->
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <!--END PAGE CONTENT -->
    </div>

    <!--END MAIN WRAPPER -->

    <!-- FOOTER -->
    <div id="footer">
        <p>&copy; Milad Nikrou &nbsp;2018 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="{% static 'scripts/layout/jquery-2.0.3.min.js' %}"></script>
    <script src="{% static 'scripts/layout/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/layout/modernizr-2.6.2-respond-1.1.0.min.js' %}"></script>
    <!-- END GLOBAL SCRIPTS -->
</body>
<!-- END BODY-->

</html>