{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet"  href="{% static 'css/annotation.css' %}">
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{% static 'scripts/annotation.js' %}"></script>
<script type="text/javascript">
	
</script>
<body onload="init()">
	<div class="wrapper">
		<div style="text-align: center;">
			<div id="dvCanvasContainer">
				<canvas id="drawCanvas"></canvas>
				<canvas id="selectCanvas" style="visibility: hidden;"></canvas>
			</div>
			<div style="display: inline-block; width:70px;">
				<input type="button" value="save" id="btn" class="btn btn-primary" style="width:60px; margin-bottom:5px;" onclick="saveFile()">
				<input type="button" value="clear" id="clr" class="btn btn-primary" style="width:60px; margin-bottom:5px;" onclick="clearCanvas()">
				<button id="btnOpenFile1" class="btn btn-primary" style="width:60px; margin-bottom:5px;">Load</button>
				<input id="fileInput1" type="file" name="name" style="display: none;" />
				<input type="button" value="select" id="select" class="btn btn-primary" style="width:60px;" onclick="beginSelect()">
			</div>
		</div>

	</div>
	<span>{{ imagesCount }}</span>
</body>
{% endblock %}