{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/annotation.css' %}">
<link href="{% static 'css/layout/cpanel-font-awesome.css' %}" rel="stylesheet" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script src="{% static 'scripts/annotation.js' %}"></script>
<script type="text/javascript">
	pageNumber = 1;
	$(document).ready(function () {
		$("#btnNext").click(function (e) {
			if (pageNumber < $("#pageCount").val())
				pageNumber += 1;
			showImage();
		});

		$("#btnPrevious").click(function (e) {
			if (pageNumber > 1)
				pageNumber -= 1;
			showImage();
		});

		showImage();
		function showImage() {
			$.ajax({
				type: 'POST',
				url: '{{ ajaxUrl }}/get_image/',
				data: {
					'page_num': pageNumber,
					csrfmiddlewaretoken: '{{ csrf_token }}',
				},
				success: function (data) {
					initCanvas(data);
					document.getElementById("spnPaging").innerHTML = pageNumber + " of {{imagesCount}}";
				},
				error: function (xhr, textStatus, errorThrown) {
					alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
				}
			});
		}
	});
</script>

<body>
	<div class="row">
		<div class="wrapper">
			<div id="dvCanvasContainer" style="float: left;margin-right: 15px;">
				<canvas id="drawCanvas"></canvas>
				<!-- <canvas id="selectCanvas" style="visibility: hidden;"></canvas> -->
			</div>
			<div style="float: left; display: inline-grid;">
				<input type="button" value="Save" id="btn" class="btn btn-primary" style="width:60px; margin-bottom:5px;" onclick="saveFile()">
				<input type="button" value="Clear" id="clr" class="btn btn-primary" style="width:60px; margin-bottom:5px;" onclick="clearCanvas()">
				<button id="btnOpenFile1" class="btn btn-primary" style="width:60px; margin-bottom:40px;">Load</button>
				<input id="fileInput1" type="file" name="name" style="display: none;" />
				<input type="button" value="Select" id="btnSelectDraw" class="btn btn-primary" style="width:60px; margin-bottom:5px;" onclick="beginSelectDraw()">
				<input type="button" value="Delete" id="btnDelete" class="btn btn-primary" style="width:60px; visibility: hidden" onclick="deletePoint()">
			</div>
		</div>
	</div>
	<div class="row">
		<br/>
		<input id="pageCount" type="hidden" value="{{imagesCount}}">
		<div style="text-align: center;">
			<button class="btn" id="btnPrevious">
				<i class="icon-step-backward"></i>
			</button>
			<span id="spnPaging" style="margin-right: 5px; margin-left: 5px"></span>
			<button class="btn" id="btnNext">
				<i class="icon-step-forward"></i>
			</button>
		</div>
	</div>
</body>
{% endblock %}