{% extends 'base_cpanel.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/images.css' %}" />
<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
<script type="text/javascript">
    pageNumber = 1;
    $(document).ready(function () {
        $("#btnNext").click(function (e) {
            if (pageNumber < $("#spTotalpages").html())
                pageNumber += 1;
            loadImages();
        });

        $("#btnPrevious").click(function (e) {
            if (pageNumber > 1)
                pageNumber -= 1;
            loadImages();
        });

        loadImages();
    });

    function loadImages() {
        $.ajax({
            type: 'POST',
            url: '{{ ajaxUrl }}/load_images/',
            data: {
                'page_number': pageNumber,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {
                var imgaesHtml = "";
                $("#spPaging").html(pageNumber);
                $("#spTotalpages").html(data.total_pages);
                $("#divImages").html(data.html);
            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
            }
        });
    }

    function deleteImage(id) {
        var result = confirm("Are you sure you want to delete image?");
        if (result) {
            $.ajax({
                type: 'POST',
                url: '/delete_image/',
                data: {
                    'id': id,
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                },
                success: function (data) {
                    loadImages();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
                }
            });
        }
    }
    function analyzeImage(id) {
        $.ajax({
            type: 'POST',
            url: '/analysis/',
            data: {
                'imageId': id,
                csrfmiddlewaretoken: '{{ csrf_token }}',
            },
            success: function (data) {

            },
            error: function (xhr, textStatus, errorThrown) {
                alert("error: " + xhr + "-" + textStatus + "-" + errorThrown);
            }
        });
    }
</script>

<body>
    <div class="inner" style="min-height:1200px;">
        <div class="row">
            <div class="col-lg-12">
                <h2>Images</h2>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="body collapse in">
                <div style="margin-left: 61px;">
                    <a class="btn btn-primary" href="{% url 'upload_image' %}" class="menu-top-active">Add</a>
                </div>
            </div>
            <br/>
            <div id="divImages" style="margin-left: 35px; width: 100%;">
            </div>
        </div>
        <br/>
        <div class="row">
            <div style="text-align: center; margin-bottom: 20px;">
                <button class="btn" id="btnPrevious">
                    <i class="icon-step-backward"></i>
                </button>
                <span id="spPaging" style="margin-right: 5px; margin-left: 5px"></span>
                of
                <span id="spTotalpages" style="margin-right: 5px; margin-left: 5px"></span>
                <button class="btn" id="btnNext">
                    <i class="icon-step-forward"></i>
                </button>
            </div>
        </div>
        <hr />
    </div>
</body>> {% endblock %}